html {
    scroll-behavior: smooth;
}

body {
    font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.card {
    background-color: lightblue;
    border: none;
}

h1, h2 {
    font-family: Tangerine, serif;
}

#attractive {
    font-size: 3rem;
}

.about-title, .contact-title, #design-art-title {
    font-size: 2.5rem;
}

h3 {
    font-size: medium;
    font-weight: bold;
}

.appointment-form, .contact-form {
    border: none;
}

#secondary-navbar, #footer {
    background-color: hotpink;
}

.link-item, #footer {
    color: white;
}

.link-item:hover {
    color: black;
}

#eve-logo {
    font-family: Tangerine, serif;
    font-size: larger;
    color: #ff07ff;
}

#first-section {
    background: url("images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

#testimonial-container {
    min-width: 280px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.box {
    width: 250px;
    height: 350px;
    background-color: hotpink;
    margin: 0px 10px;
    transition: .75s;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
}

#avatar-1 {
    background-image: url("images/girl1.jpg");
}

#avatar-2 {
    background-image: url("images/girl2.jpg");
}

#avatar-3 {
    background-image: url("images/girl3.jpg");
}

#avatar-4 {
    background-image: url("images/girl4.jpg");
}

#third-section {
    background-color: lightblue;
}

.reset-this {
    all: initial;
    font-family: Raleway, serif;
}

.redo-fieldset {
    border: 2px solid hotpink;
    padding: 20px;
}

.redo-legend {
    color: hotpink;
}

.required {
    color: red;
}

#third-section-title {
    text-align: center;
    padding: 20px;
    font-family: Tangerine, serif;
    font-size: 2.5rem;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

#book-btn, #send-btn {
    border: none;
    background-color: hotpink;
    color: white;
}

#book-btn:hover, #send-btn:hover {
    color: black;
}

input, #date, #time, textarea, select {
    border-radius: 3px;
    background-color: white;
}

#date, #time {
    height: 38px;
}

#date {
    width: 170px;
}

#time {
    width: 140px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

textarea {
    resize: none;
}

.contact-btn {
    color: hotpink;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.social-btn {
    float: right;
    color: hotpink;
    margin: 2.5rem 0.5rem 0 0.5rem;
}

.contact-btn:hover, .social-btn:hover {
    color: black;
}

.card-body {
    border: none;
}

#send-btn {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#send-btn:hover {
    background-color: rgb(252, 88, 170);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: hotpink;
    border: none;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

.design-art-cards:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}